<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="LayoutPadrao">

<head>
	<meta charset="UTF-8" />
	<title>Cadastro de título</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Financas" height="100px" src="/images/logoFamiliaRicardo.png" />
				</a>
			</div>
		</div>
	</nav>

	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}">Título salvo com sucesso!!!</span>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pesquisa de Receitas</h1>
				<a class="btn btn-link aw-link-panel" href="/titulos/novo">Novo receita</a>
			</div>
		</div>

		<div class="panel-body">


					
			<table class="table table-bordered table-striped">



				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Decrição</th>
						<th class="text-center col-md-2">Data de vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${titulos}">
						<td class="text-center" th:text="${titulo.codigo}"></td>
						<td th:text="${titulo.descricao}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}|"></td>
						<td class="text-right" th:text="|R$ ${titulo.valor}|"></td>
						<td class="text-center" th:attr="data-role=${titulo.codigo}">
							<span class="label" th:text="${titulo.status.descricao}|"
								th:classappend="${titulo.pendente ? 'label-danger' : 'label-success' }"></span>
						</td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"
								title="Editar" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
								th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
								title="Excluir" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
							<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
	   								title="Pagar" rel="tooltip" data-placement="top"
	   								th:attr="data-codigo=${titulo.codigo}"
	   								th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
	   							<span class="glyphicon glyphicon-check"></span>
	   						</a>
						</td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
	   				</tr>
	   			</tbody>
	   		</table>
	   	</div>
	   	
	   
	   	
	   	<div class="modal fade" id="confirmacaoExclusaoModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
					<div class="modal-dialog">
						<form  th:attr="data-url-base='/titulos'"  method="POST" th:method="DELETE">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Você tem certeza?</h4>
									</div>
									
									<div class="modal-body">
										<span>Tem certeza que deseja apagar o título?</span>
									</div>
									
									<div class="modal-footer">
										<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
										<button type="submit" class="btn btn-primary">Excluir</button>
									</div>
								</div>
						</form>
					</div>
		</div>
	   	
	</div>
		<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/cobranca.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="/js/jquery.maskMoney.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>